<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthWell Login Form</title>
    <link rel="stylesheet" type="css" href="../static/style.css" />
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>

<body>
    <!-- Doctor Details Form -->
    <div class="form signup_form">
        <form action="#">
            <h2>Doctor Details</h2>

            <div class="input_box">
                <input type="username" placeholder="Enter your Name" required />
                <i class="uil uil-text-alt email"></i>
            </div>
            <div class="input_box">
                <input type="gender" placeholder="Enter your Gender" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="date_of_birth" placeholder="Enter your Date Of Birth" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="address" placeholder="Enter your Address" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="blood_group" placeholder="Enter your Blood Group" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="contact_number" placeholder="Enter your Contact Number" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="aadhar_card_number" placeholder="Enter your Aadhar Card Number" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="aadhar_card_photo" placeholder="Enter your Aadhar Card Photo" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="pan_card_number" placeholder="Enter your PAN Card Number" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="pan_card_photo" placeholder="Enter your PAN Card Photo" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="self_photo" placeholder="Enter your Self Photo" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="department" placeholder="Enter your Department" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="expertise" placeholder="Enter your Expertise" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="practice" placeholder="Enter your Practice" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="education" placeholder="Enter your Education" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="languages" placeholder="Enter your Preferable Languages" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="email" placeholder="Enter your Email" required />
                <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
                <input type="password" placeholder="Create Password" required />
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <div class="input_box">
                <input type="password" placeholder="Confirm Password" required />
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
            </div>

            <button class="button">Signup Now</button>

            <div class="login_signup">
             Already have an account? <a href="#" id="login">Login</a>
            </div>
        </form>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>