<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <section class="container">
      <header>
        <h2>Doctor Details</h2>
    </header>
      <form action="/SignUpDoctor" class="form" enctype="multipart/form-data" method="post">

        <div class="input-box">
            <label>Name</label>
            <input type="text" placeholder="Enter your Name" required name="username"/>
          </div>



        <div class="input-box">
          <label>Email Address</label>
          <input type="email" placeholder="Enter your Email Address" required name="email"/>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Contact Number</label>
            <input type="number" placeholder="Enter your Contact Number" required name="contact_number"/>
          </div>

          <div class="input-box address">
            <label>Date of Birth</label>
            <input type="text" placeholder="Enter your Date of Birth" required name="date_of_birth"/>
        </div>
        </div>

        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" value="Male" id="check-male" name="gender" checked />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input type="radio" value="Female" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
            <div class="gender">
              <input type="radio" value="Prefer not to say" id="check-other" name="gender" />
              <label for="check-other">Prefer not to say</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter your Address" required name="address"/>
        </div>

        <div class="column">
        <div class="input-box address">
            <label>Department</label>
            <input type="text" placeholder="Enter your Department" required name="department"/>
        </div>

        <div class="input-box address">
            <label>Practice Years</label>
            <input type="text" placeholder="Enter your Practice Years" required name="practice"/>
        </div>
        </div>

        <div class="column">
            <div class="input-box address">
                <label>Expertise</label>
                <input type="text" placeholder="Enter your Expertise " required name="expertise"/>
            </div>
    
            <div class="input-box address">
                <label>Education</label>
                <input type="text" placeholder="Enter your Education" required name="education"/>
            </div>
            </div>


            <div class="column">  
            <div class="input-box">
                <label>Degree Certificate Photo</label>
                <input type="file" placeholder="Enter your Degree Certificate Photo" required name="degree_certificate_photo"/>
            </div>

            <div class="input-box">
                <label>Degree Certificate ID</label>
                <input type="text" placeholder="Enter your Degree Certificate ID" required name="degree_certificate_id"/>
            </div>
          </div>

        <div class="column">
          <div class="input-box">
            <label>Aadhar Card Number</label>
            <input type="number" placeholder="Enter your Aadhar Card Number" required name="aadhar_card_number"/>
          </div>

          <div class="input-box">
            <label>Aadhar Card Photo</label>
            <input type="file" placeholder="Enter your Aadhar Card Photo" required name="aadhar_card_photo"/>
          </div>
        </div>

        <div class="column">
          <div class="input-box">
            <label>PAN Card Number</label>
            <input type="number" placeholder="Enter your PAN Card Number" required name="pan_card_number"/>
          </div>

          <div class="input-box">
            <label>PAN Card Photo</label>
            <input type="file" placeholder="Enter your PAN Card Photo" required name="pan_card_photo"/>
          </div>
        </div>

        <div class="column">
        <div class="input-box">
          <label>Photo</label>
          <input type="file" placeholder="Enter your self Photo" required name="self_photo"/>
        </div>

        <div class="input-box">
            <label>Language</label>
            <input type="text" placeholder="Enter your Preferable Languages" required name="languages"/>
        </div>
        </div>

          <div class="column">
            <div class="input-box">
              <label>Password</label>
              <input type="password" placeholder="Create Password" required name="password"/>
            </div>
            <div class="input-box">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm Password" required name="pass_confirm"/>
              </div>
        </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>