<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emergency</title>
    <!-- Connecting jQuery & styles -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="../static/emergency.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="main-container">
      <h1 style="color: rgb(94, 211, 240)">EMERGENCY</h1>
      <div id="buttons-container">
        <div class="button">
          <img src="https://img.icons8.com/windows/52/000000/siren.png" />
        </div>
        <div class="button" id="noright">
          <img src="https://img.icons8.com/windows/52/000000/no-audio.png" />
        </div>
      </div>

      <h2 style="color: rgb(94, 211, 240)">FAQ</h2>
      <div class="layout">
        <div class="accordion">
          <div class="accordion__question">
            <p>
              How to give emergency help to a person who have got a heart attack
              ?
            </p>
          </div>
          <div class="accordion__answer">
            <p>
              (i) Push hard and fast on the center of the person's chest in a
              fairly rapid rhythm — about 100 to 120 compressions a minute. (ii)
              Begin CPR if the person is unconscious. If the person isn't
              breathing or you don't find a pulse, begin CPR to keep blood
              flowing after you call for emergency medical help.
            </p>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__question">
            <p>
              How to give emergency help to a person who have faced an accident
              on road ?
            </p>
          </div>

          <div class="accordion__answer">
            <p>
              Clearing Airway : (i) Put the victim on ground very gently and
              cautiously without vigorous handling to prevent further injury.
              (ii) Turn the victim to one side. (iii) Loosen clothing at neck,
              chest and waist. (iv) Tilt the head back, point the face slightly
              down so the tongue can fall forward allowing blood and vomit to
              drain out.
            </p>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__question">
            <p>
              How to give emergency help to a person who has got burn on his
              hand ?
            </p>
          </div>

          <div class="accordion__answer">
            <p>
              (i) Hold the burnt area under cool (not cold) running water for 10
              or 15 minutes or until the pain subsides or else immerse the burn
              in cold water or cool it with cold compresses. Cover the burn with
              a sterile gauze bandage (ii) Cooling the burn reduces swelling by
              conducting heat away from the skin. (iii) Cover the burn with a
              sterile gauze bandage.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Connecting script -->
    <script src="../static/emergency.js"></script>
  </body>
</html>
